<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/static/css/concert.css">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>Concert Details</title>
  <script>
    var loggedInEmail = ''
    var loggedInUserName = ''
  </script>
  <%if (user != undefined) { %>
    <script>
      var len = `<%= user %>`.length
      console.log(len)
      if(len > 0) {
        loggedInEmail = `<%= user.email %>`
        loggedInUserName = `<%= user.name %>`
        console.log(loggedInEmail)
      }
    </script>
  <% } %>
</head>
<body>  
  <%- include('../partials/nav.ejs') %> 

  <main class="text-black bg-white">
    <div class="m-16">
      <div class='row'> 
        <div class="concert_column">
          <div id='concertInfo'>
            <h1 class="text-5xl font-medium"><%= name %></h1>
            <img class="mt-8" alt='profile'>
            <h3 class="mt-8 text-2xl font-medium">Date:</h3>
            <p></p>
            <h3 class="mt-8 text-2xl font-medium">Venue:</h3>
            <p></p>
          </div>
          <!-- <button 
          id="deleteBtn"
          class="mt-8 text-white bg-gray-400 border-0 py-2 px-8 focus:outline-none hover:bg-gray-700 rounded text-lg"
          >Delete</button> -->

          <template id="attendance">
            <button id="attendButton"
            class="mt-8 text-white bg-gray-400 border-0 py-2 px-8 focus:outline-none hover:bg-gray-700 rounded text-lg"></button>
          </template>
        </div>
    
        <div class='attendee_column'>
          <h1 class="text-5xl font-medium">Attendees</h1>
          <div>
            <form class="mt-8"> <!-- action set to current page -->
              <label class="text-base">Filter by gender</label><br>
              <select class="border-2 rounded-lg border-gray-400" id='gender'>
                <option value=""></option>
                <option value="female">Female</option>
                <option value="male">Male</option>
              </select><br>
              <label class="text-base">Filter by age</label><br>
              <select class="border-2 rounded-lg border-gray-400" id='age'>
                <option value=""></option>
                <option value="18to25">18 to 25</option>
              </select><br>
              <input 
              class="mt-4 text-white bg-gray-400 border-0 py-2 px-8 focus:outline-none hover:bg-gray-700 rounded text-sm"
              id='submit' type="submit" value="Apply filters">
            </form>
          </div>
            <div class='list_of_attendees'> 
              <!-- data included here -->
            </div>
        </div>

        <template id='card' >
          <%- include('../partials/card.ejs') %>
        </template>
        
      </div>
    </div>
  
  </main>
  <script src="../../static/js/concert/concertScript.js" name='<%-name%>'></script>
</body>
</html>
